<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.deliverytips">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr"/>

        <activity android:name=".NewDeliveryActivity"/>
        <activity
            android:name=".DeliveryEventDetails"
            android:label="@string/title_activity_delivery_event_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SyncPwr"
            android:configChanges="orientation"
            android:label="@string/title_activity_sync_pwr"
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name=".SyncPwrLogin"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Pwr Login">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".fragments.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>